![Ironhack Logo](https://i.imgur.com/1QgrNNw.png)

In [ ]:
# imports
from pymongo import MongoClient
import pandas as pd
import pymongo

# connection with mongo
client = MongoClient("Add client from MongoDB Atlas")

# connection with database "db_companies"
db = client.db_companies

# companies collection
collection_companies = db.companies

# querying EVERYTHING
query = collection_companies.find()

# convert to pandas.DataFrame
df = pd.DataFrame(query)

In [ ]:
# database = client["db_companies"]
# codigo = db["companies"]

# Answers
### 1. All the companies that it's name match 'Babelgum'. Retrieve only their `name` field.

In [ ]:
query = collection_companies.find({"name":"Babelgum"},{"name"})
for result in query:
    print(result)

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [ ]:
query = collection_companies.find({"number_of_employees": {"$gt": 5000}},{"name","number_of_employees"}).limit(20).sort("number_of_employees")
for result in query:
    print(result)

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fileds.

In [ ]:
query = collection_companies.find({"founded_year": {"$gte": 2000,"$lte": 2005}},{"name","founded_year"})
for result in query:
    print(result)

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [ ]:
query = collection_companies.find({"founded_year": {"$lt": 2010}, "ipo.valuation_amount": {"$gt": 100000000}},{"name","ipo"})
for result in query:
    print(result)

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [ ]:
query = collection_companies.find({"number_of_employees": {"$lt": 1000}, "founded_year": {"$lt": 2005}},{"name","number_of_employees"}).limit(10).sort("number_of_employees")
for result in query:
    print(result)

### 6. All the companies that don't include the `partners` field.

In [ ]:
query = collection_companies.find({"partners": []},{"name","partners"})
for result in query:
    print(result)

### 7. All the companies that have a null type of value on the `category_code` field.

In [ ]:
query = collection_companies.find({"category_code": None},{"name","category_code"})
for result in query:
    print(result)

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [ ]:
query = collection_companies.find({"number_of_employees": {"$gte": 100, "$lt":1000}},{"name","number_of_employees"})
for result in query:
    print(result)

### 9. Order all the companies by their IPO price descendently.

In [ ]:
query = collection_companies.find({},{"name","ipo.valuation_amount"}).sort("ipo.valuation_amount", pymongo.DESCENDING)
for result in query:
    print(result)

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [ ]:
query = collection_companies.find({},{"name","number_of_employees"}).limit(10).sort("number_of_employees", pymongo.DESCENDING)
for result in query:
    print(result)

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [ ]:
query = collection_companies.find({"founded_month": {"$gte": 7,"$lte": 12}},{"name","founded_month"}).limit(1000)
for result in query:
    print(result)

### 12. All the companies that have been 'deadpooled' after the third year.

In [125]:
# Couldn't query for "after the third year"
query = collection_companies.find({"$expr":{"$gt":["2010",{"$subtract":["$deadpooled_year","$founded_year"]}]
                                           }},{"name","founded_year","deadpooled_year"})
for result in query:
    print(result)

### 13. All the companies founded before 2000 that have and acquisition amount of more than 10.000.000

In [ ]:
query = collection_companies.find({"founded_year":{"$lt": 2000}, "acquisition.price_amount":{"$gt": 10000000}},{"name","founded_year","acquisition.price_amount"})
for result in query:
    print(result)

### 14. All the companies that have been acquired after 2015, order by the acquisition amount, and retrieve only their `name` and `acquisiton` field.

In [130]:
query = collection_companies.find({"acquisition.acquired_year":{"$gt": 2015}},
                                  {"name","acquisition.price_amount"}).sort("acquisition.price_amount",-1)
for result in query:
    print(result)

### 15. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [ ]:
query = collection_companies.find({},
                                  {"name","founded_year"}).sort("founded_year",pymongo.DESCENDING)
for result in query:
    print(result)

### 16. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `aquisition price` descendently. Limit the search to 10 documents.

In [ ]:
query = collection_companies.find({"founded_day": {"$lte": 7}},
                                  {"name","acquisition.price_amount"}).limit(10).sort("acquisition.price_amount",pymongo.DESCENDING)
for result in query:
    print(result)

### 17. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascendant order.

In [ ]:
query = collection_companies.find({"category_code": 'web', "number_of_employees":{"$gte":4000}}, 
                                  {"name","category_code","number_of_employees"}).sort("number_of_employees")
for result in query:
    print(result)

### 18. All the companies which their acquisition amount is more than 10.000.000, and currency are 'EUR'.

In [ ]:
query = collection_companies.find({"acquisition.price_currency_code": 'EUR', "acquisition.price_amount":
                                   {"$gte":10000000}}, 
                                  {"acquisition.price_currency_code","acquisition.price_amount"})
for result in query:
    print(result)

### 19. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [ ]:
query = collection_companies.find({"acquisition.acquired_month": {"$lte":3}}, {"name","acquisition"}).limit(10)
for result in query:
    print(result)

### 20. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
query = collection_companies.find({"founded_year": {"$gte": 2000,"$lte": 2010}, 
                                  "acquisition.acquired_year": {"$gt":2011}},
                                  {"name","founded_year","acquisition.acquired_year"})
for result in query:
    print(result)